:root {
    --light-color: #d5d5d5;
    --dark-color: #272727;
    --primary-color: #bf1d32;
    --secondary-color: #f37b8b;
    --transparent-black: #0000004d;
}

.skip-to-content {
    position: absolute;
    top: -40px;
    left: 10px;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    text-decoration: none;
    transition: top 0.3s;
    z-index: 999999999999999999999999;
}

.skip-to-content:focus {
    top: 10px;
}

ul {
    padding: 0;
    margin: 0;
}

input:not(input[type="submit"], 
input[type="checkboxe"], 
input[type="radio"]), 
textarea {
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--light-color);
    outline: none;
}

input:not(input[type="submit"], 
input[type="checkboxe"], 
input[type="radio"]):focus, 
textarea:focus {
    border-bottom: 1px solid var(--primary-color);
    outline: none;
}

/* Header */

.header-container {
    display: flex;
    justify-content: space-around;
    z-index: 9999;
}

.fixed {
    position: fixed;
    top:0; 
    left:0;
    width: 100%; 
    height: 80px;
    background: white;
}

.fixed .site-branding {
    height: 80px;
}

.global-header-container {
    position: relative;
}

.mobile-menu-container, 
.mobile-menu-wrapper {
    display: none;
}

.site-branding {
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-branding > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    height: 65px;
    width: 100%;
    position: relative;
}

.main-menu-container {
    display: flex;
    align-items: center;
}

.main-navigation ul > li > a:before {
    content: '';
    height: 1px;
    width: 0;
    position: absolute;
    right: 0;
    bottom: -17px;
    margin: 0 1em;
    border-radius: 50px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.main-navigation ul > li > a:focus:before,
.main-navigation ul > li:hover > a:before {
    width: calc(100% - 2em);
    left: 0;
    right: auto;
    background-color: black;
}

.main-navigation ul ul > li > a:before {
    content: '';
    height: 1px;
    width: 0;
    display: inline-block;
    position: relative;
    right: 0;
    bottom: 0;
    margin: 0 1em;
    border-radius: 50px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.main-navigation ul ul > li > a:focus:before,
.main-navigation ul ul > li:hover > a:before {
    width: 1em;
    left: 0;
    right: auto;
    background-color: black;
}

.main-navigation ul li:hover > .material-icons {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.main-navigation ul ul li:hover .material-icons {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

li.menu-item-has-children ul {
    display: none;
    transform: all .2s ease-in-out;
    -webkit-transform: all .2s ease-in-out;
    -moz-transform: all .2s ease-in-out;
    -ms-transform: all .2s ease-in-out;
    -o-transform: all .2s ease-in-out;
}

li.menu-item-has-children a:focus + ul,
li.menu-item-has-children ul li:focus > ul,
li.menu-item-has-children ul.active {
    left: auto;
    display: inline-block;
    background: white;
}

li.menu-item-has-children ul li a:focus + ul,
li.menu-item-has-children ul li ul.active {
    right: -232px;
}

li.menu-item.current-menu-item a {
    color: var(--primary-color) !important;
}

.site-header-cart {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    width: 7.5em;
    position: relative;
}

.cart-contents {
    position: relative;
}

.cart-items-number {
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 12px;
    background: var(--primary-color);
    width: 18px;
    text-align: center;
    border-radius: 50px;
    z-index: -1;
    color: white;
    font-weight: 500;
}

.search-bar {
    position: absolute;
    width: 100%;
    background: var(--transparent-black);
    z-index: 9999999;
    height: 100vh;
    display: none;
}

.search-bar > div {
    background: white;
    padding: 10px 25px 10px 25px;
    z-index: 999999;
    position: relative;
    height: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ea;
    -moz-transition: all .3s ea;
    -ms-transition: all .3s ea;
    -o-transition: all .3s ea;
}

body.mobile-bar-open {
    z-index: 100000;
    position: absolute;
}

.menu-button-container {
    text-align: right;
}

.heading-container {
    width: 100%;
    /* position: fixed;
    top: 50px;
    right: 0; 
    z-index: 99999999; */
}

.top-heading {
    height: 500px;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    flex-basis: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    color: var(--light-color);
}

/**
https://codepen.io/Bilal1909/pen/KKdrmRP by Bilal.Rizwaan.
License: MIT.
*/

.menu-toggle {
    top: 46%;
    right: 5% !important;
    transform: translate(-20%, -50%) !important;
    position: absolute !important;
    width: 40px !important;
    padding: 1px 6px !important;
    border: none;
    outline: none;
    background-color: transparent !important;
    -webkit-transform: translate(-20%, -50%) !important;
    -moz-transform: translate(-20%, -50%) !important;
    -ms-transform: translate(-20%, -50%) !important;
    -o-transform: translate(-20%, -50%) !important;
    z-index: 9999999999999;
}

.menu-toggle:focus:before, 
.menu-toggle:focus:after, 
.menu-toggle:focus span {
    background: var(--primary-color);
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none !important;
    }

    .single .site-main {
        padding: 0 15px 0 0;
    }
}
  
.menu-toggle:before,
.menu-toggle:after,
.menu-toggle span {
    background: var(--dark-color);
    content: "";
    display: block;
    height: 3px;
    margin: 7px 0;
    border-radius: 5px;
    transition: 0.5s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.menu-toggle.close:before {
    transform: translateY(7.5px) rotate(135deg);
    -webkit-transform: translateY(7.5px) rotate(135deg);
    -moz-transform: translateY(7.5px) rotate(135deg);
    -ms-transform: translateY(7.5px) rotate(135deg);
    -o-transform: translateY(7.5px) rotate(135deg);
}
.menu-toggle.close:after {
    transform: translateY(-12.5px) rotate(-135deg);
    -webkit-transform: translateY(-12.5px) rotate(-135deg);
    -moz-transform: translateY(-12.5px) rotate(-135deg);
    -ms-transform: translateY(-12.5px) rotate(-135deg);
    -o-transform: translateY(-12.5px) rotate(-135deg);
}
.menu-toggle.close span {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}


/* Site Content */

.site-content {
    min-height: 200px;
}

.content-area {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
    display: flex;
}

.site-main {
    width: 100%;
    padding: 0 15px;
}

.content-area aside {
    width: 25%;
    padding: 15px;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 32px;
    margin: auto;
    display: flex;
}

.breadcrumbs-wrapper {
    padding: .5em 0;
    background-color: var(--light-color);
}

.content-none {
    margin-top: 20px;
}

/* Home Page */

#swiper-slider {
    width: 100%;
    height: 600px;
}

#swiper-slider .swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    color: white !important;
}

#swiper-slider .swiper-slide > div{
    margin-left: 10%;
}

#swiper-slider .swiper-slide h2 {
    font-size: 3em;
    margin-bottom: 5px;
}

.swiper-button-next, 
.swiper-rtl,
.swiper-button-prev {
    color: var(--light-color);
}

#swiper-slider .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 40px);;
}

#swiper-slider .swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 40px);
}

.product-section h2,
.brands h2,
.about-us h2 {
    display: inline-block;
    position: relative;
    padding: 0 30px;
    background-color: white;
    z-index: 2;
}

.product-section .title,
.brands .title,
.about-us .title {
    position: relative;
    text-align: center;
}

.product-section .title::before,
.brands .title::before,
.about-us .title::before {
    content: ' ';
    display: table;
    background: var(--light-color);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 1;
}

.product-section .title::after {
    content: ' ';
    display: table;
    clear: both;
}

.tab-product {
    width: 480px;
    margin: 50px auto;
}

.tab-product li {
    display: inline-block;
    margin: 0 25px;
}

.tab-product li a {
    padding: 0;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--dark-color);
    position: relative;
    border-bottom: 1px solid;
}

.tab-product a:hover, 
.tab-product .active {
    color: var(--primary-color);
}

@media (max-width: 480px) {
    .tab-product {
        width: auto;
    }

    .tab-product li {
        display: block;
        margin-bottom: 5px;
        text-align: center;
    }
}

#featured-products,
#onsale-items {
    display: none;
}

.banner-section {
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.banner-section h2 {
    font-size: 48px;
}

.banner-section p {
    font-size: 24px;
}

#swiper-brands .swiper-wrapper{
    padding-bottom: 30px;
    height: 100px;
}

#swiper-brands .swiper-pagination {
    bottom: 0;
}


#swiper-brands .swiper-slide > div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    cursor: pointer;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
}

#swiper-brands .swiper-slide > div:hover {
    filter: none !important;
    -webkit-filter: grayscale(0%) !important;
}

.swiper-pagination-bullet-active {
    background: var(--primary-color);
}

.about-us p {
    text-align: center;
}

/* Blog - Single Article - WooCommerce Buttons*/

.content-inner img {
    width: 100%;
    height: auto;
}

.product.type-product a.button, 
.single_add_to_cart_button, 
.wc-block-components-button:not(.is-link), 
.woocommerce-button, 
.woocommerce-Button, 
.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link, 
.woocommerce button.button.alt, 
.btn-primary,
input[type="submit"] {
    border: var(--primary-color) !important;
    border-radius: 1px !important;
    background: var(--secondary-color) !important;
    cursor: pointer;
    color: #fff !important;
    font-weight: 600 !important;
    transition: .2s !important;
    -webkit-transition: .2s !important;
    -moz-transition: .2s !important;
    -ms-transition: .2s !important;
    -o-transition: .2s !important;
    -webkit-border-radius: 1px !important;
    -moz-border-radius: 1px !important;
    -ms-border-radius: 1px !important;
    -o-border-radius: 1px !important;
}

.product.type-product a.button:hover, 
.single_add_to_cart_button:hover, 
.wc-block-components-button:not(.is-link):hover, 
.woocommerce-button:hover, 
.woocommerce-Button:hover, 
.wc-block-grid__product-add-to-cart.wp-block-button 
.wp-block-button__link:hover, 
.woocommerce button.button.alt:hover, 
.btn-primary:hover, 
input[type="submit"]:hover {
    background: var(--primary-color) !important;
    box-shadow: 2px 3px 30px var(--light-color) !important;
}

.product.type-product a.button:focus, 
.single_add_to_cart_button:focus, 
.wc-block-components-button:not(.is-link):focus, 
.woocommerce-button:focus, 
.woocommerce-Button:focus, 
.wc-block-grid__product-add-to-cart.wp-block-button 
.wp-block-button__link:focus, 
.woocommerce button.button.alt:focus, 
.btn-primary:focus, 
input[type="submit"]:focus {
    background: var(--primary-color) !important;
    box-shadow: 2px 3px 30px var(--light-color) !important;
    outline: none;
}

.post-content a,
.entry-content a,
.entry-summary a,
.comment-content a {
    text-decoration: underline;
}

.btn-primary a {
    color: #fff !important;
    font-weight: 600 !important;
}

.woocommerce a.button:not(.wc-forward) {
    width: 100%;
    text-align: center;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.woocommerce-pagination .page-numbers:not(ul.page-numbers),
.pagination .page-numbers:not(ul.page-numbers), 
.woocommerce-pagination .current,
.pagination .current {
    display: inline-block;
    border: 1px solid var(--light-color);
    border-radius: 1px;
    color:var(--dark-color);
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    line-height: 38px;
    text-align: center;
    padding: 0 !important;
    width: 40px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.woocommerce-pagination .page-numbers:not(ul.page-numbers):hover, 
.pagination .page-numbers:not(ul.page-numbers):hover, 
.woocommerce-pagination .current,
.pagination .current {
    background: var(--secondary-color) !important;
    border: 1px solid var(--secondary-color);
    color: #fff !important;
}

.woocommerce nav.woocommerce-pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border: none;
    margin: 20px;
}

.woocommerce nav.woocommerce-pagination ul li {
    border-right: none;
    margin: auto;
    float: none;
    overflow: hidden;
}

.pagination .material-icons-outlined,
.woocommerce-pagination .material-icons-outlined
 {
    position: relative;
    top: 7.5px;
    padding: 0 !important;
    font-size: 24px !important;
}

.single .site-main {
    padding: 0 15px 0 0;
}

article .entry-meta li,
.breadcrumbs li {
    border-right: 1px solid var(--light-color);
    padding-right: 20px;
    margin-right: 20px;
    display: inline-block;
    line-height: 18px !important;
    margin-top: 10px;
}
.breadcrumbs li {
    border-right: 1px solid var(--dark-color);
}
article .entry-meta li:last-child, 
.breadcrumbs li:last-child {
    padding-right: 0;
    border-right: none;
    margin-right: 0;
}

article .entry-meta li span, 
.breadcrumbs li span {
    color: var(--light-color);
    font-size: 12px;
    font-weight: 700;
    display: block;
    margin-bottom: 2px;
}

.entry-navigation-post {
    border: 1px solid var(--light-color);
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
}

.entry-navigation-post .prev-post, 
.entry-navigation-post .next-post {
    width: 50%;
    padding: 20px;
    position: relative;
}

.entry-navigation-post .prev-post {
    border-right: 1px solid var(--light-color);
}

.entry-navigation-post .heading, 
.entry-navigation-post .title {
    margin-top: 0;
    margin-bottom: 10px;
    width: 75%;
}

.entry-navigation-post img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    max-width: 20%;
    max-height: 38%;
    object-fit: cover;
}

.entry-navigation-post .prev-post img {
    right: 20px;
}

.entry-navigation-post .next-post img {
    left: 20px;
}

.entry-navigation-post .next-post .heading, 
.entry-navigation-post .next-post .title {
    text-align: right;
    float: right;
}

.comments-area {
    max-width: 1170px;
    width: 100%;
    padding: 0 0 0 32px;
    margin: auto;
}

.comment-body {
    position: relative;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid var(--light-color);
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.comment-meta {
    margin-bottom: 0.8em;
}

.comment-author .avatar {
    position: absolute;
    top: 0;
    left: -50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.comment-body .reply {
    margin-top: 15px;
    text-align: right;
}

.comment-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

input:not(input[type="checkbox"], input[type="radio"]), 
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--light-color);
    outline: none;
}

div.line {
    display: inline-block;
    height: 0;
    width: 100%;
    position: relative;
    top: -41px;
}

.comment-form-comment + div.line {
    top: -48px;
}

div.line:before {
    content: '';
    height: 1px;
    width: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.comment-form p:hover + div.line:before {
    width: 100%;
    left: 0;
    right: auto;
    background-color: black;
}

.comment-form .comment-form-comment {
    width: 100%;
}

.comment-form > p {
    width: 31%;
    margin: 10px 1%;
}

.comment-form p.comment-form-author {
    margin-left: 0 !important;
}

.comment-form p.comment-form-url {
    margin-right: 0 !important;
}

.comment-form textarea {
    height: 150px;
}

.comment-form .comment-notes, 
.comment-form .comment-form-cookies-consent, 
.comment-form .comment-form-comment,
.comment-form .logged-in-as {
    width: 100%;
    flex-basis: 100%;
}

/* Sidebar */

.sidebar-primary {
    margin: 1.5em 0 0;
    padding: 0 15px;
}

/* Search Form*/

.searchform {
    position: relative;
}

.searchform-label {
    display: block;
}

.searchform-label div.line {
    top: -17px;
}

.searchform-label:hover div.line:before {
    width: 100%;
    left: 0;
    right: auto;
    background-color: black;
}

.searchform-submit {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 0;
}

.searchform-submit .material-icons-outlined {
    position: relative;
    top: 7.5px;
}

.searchform-submit:focus {
    color: var(--primary-color) !important;
}

.menu-button-container .material-icons-outlined:focus {
    color: var(--primary-color);
}

/* Footer */

.site-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background:var(--dark-color);
}

.site-footer * {
    color: var(--light-color);
}

.site-footer > *:not(:first-child):not(:last-child) {
    width: 15%;
}

.site-footer .widget-footer {
    margin-top: 15px;
}

.site-footer #widget-footer-1 {
    width: 20%;
}

.site-footer .copyright,
.footer-navigation.social-icons {
    width: 100%;
    flex-basis: 100%;
    text-align: center;
}

.site-footer .social-icons .footer-navigation-wrapper {
    display: flex;
    justify-content: center;
    background: var(--secondary-color);
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
}

.site-footer .social-icons li svg {
    margin: auto 5px;
    color: var(--dark-color) !important;
}

.site-footer .social-icons li svg path {
    color: var(--dark-color) !important;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.site-footer .social-icons li:hover svg path {
    color: var(--light-color) !important
}

.site-footer .social-icons li:focus svg path {
    color: var(--primary-color) !important;
}

.back-to-top {
    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    display: inline-block;
    color: #fff;
    width: 38px;;
    height: 38px;
    line-height: 40px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    text-align: center;
    background: var(--primary-color);
}

.footer-mobile {
    display: none;
}

/* Error 404 */

.error404 .content-area {
    justify-content: center;
    text-align: center;
}

.error404 h2 {
    font-size: 10em;
    margin: 48px 0;
}

.error404 h2 span {
    color: var(--primary-color);
}

/* Widgets */

.widget_text a {
    text-decoration: underline;
}

.widget_dziri_last_posts img {
    width: 32px;
}

.widget_dziri_last_posts h2 {
    display: inline;
    position: relative;
    top: -10px;
    font-size: 18px;
}

.widget_dziri_last_posts > div {
    display: block;
}

div.last-posts-img {
    display: inline-block;
}

.widget-shop {
    width: 25%;
    padding: 30px 15px 0;
}

/* WooCommerce */

.woocommerce.archive .content-area {
    max-width: 100%;
}

.woocommerce ul.products li.product a:not(.button) {
    display: inline-block !important;
    height: 430px;
    overflow: hidden;
    text-align: center;
}

.woocommerce .products .star-rating {
    margin-left: auto;
    margin-right: auto;
}

.product-link {
    height: 320px;
}

.woocommerce ul.products li.product .button.btn-primary,
.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
    display: flex !important;
    justify-content: center !important;
    margin-top: 1em;
}

.woocommerce span.onsale {
    line-height: 2.5;
    background-color: var(--primary-color);
}

.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, 
.woocommerce div.product span.price {
    color:var(--dark-color);
}

.wc-block-grid__product-price {
    font-size: 1em !important;
}

.price ins {
    font-weight: 700;
    background-color: transparent !important;
}

.woocommerce ul.products li.product a img,
.product-img {
    max-width: 300px !important;
    width: 100% !important;
    max-height: 300px;
    height: 100% !important;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.woocommerce ul.products li.product a img:hover {
    filter: blur(1px);
    -webkit-filter: grayscale(30%);
}

.wc-block-components-price-slider__range-input-progress {
    background: var(--primary-color) !important;
}

.wc-block-price-filter__controls input.wc-block-components-price-slider__amount  {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.woocommerce div.product p.stock:not(.out-of-stock) {
    color: #30bf1d;
}

.woocommerce .quantity .qty {
    padding: 0.35em .3em;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.woocommerce div.product form.cart .button {
    width: calc(100% - 3.631em - 4px);
}

.woocommerce button.button.alt {
    width: 100%;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    background-color: var(--light-color);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
    color: var(--primary-color);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    content: none;
}

.woocommerce div.product div.images img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.woocommerce p.stars a {
    color: darkgoldenrod;
}

.woocommerce .star-rating span,
.wc-block-components-product-rating__stars span {
    color: var(--primary-color) !important;
    font-family: WooCommerce !important;
}

table.wc-block-cart-items .wc-block-cart-items__row .wc-block-components-product-metadata {
    display: none;
}

.wc-block-cart-item__quantity .wc-block-components-quantity-selector:after {
    border: none;
    border-bottom: 1px solid var(--light-color);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.wc-block-grid .wc-block-grid__product-onsale, 
.wc-block-grid__product-image .wc-block-grid__product-onsale {
    line-height: 2.5;
    background-color: var(--primary-color) !important;
    top: 0 !important;
    right: 0 !important;
    left: auto !important;
    margin: -0.5em -0.5em 0 0 !important;
    min-height: 3.236em;
    min-width: 3.236em;
    padding: 0.202em !important;
    font-weight: 700 !important;
    position: absolute !important;
    text-align: center !important;
    border-radius: 100% !important;
    color: #fff !important;
    font-size: 1em !important;
    z-index: 9 !important;
    text-transform: capitalize !important;
    border: none !important;
}

.wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input, 
.wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input,
.wc-block-components-form .wc-block-components-text-input input[type=email], 
.wc-block-components-form .wc-block-components-text-input input[type=number], 
.wc-block-components-form .wc-block-components-text-input input[type=tel], 
.wc-block-components-form .wc-block-components-text-input input[type=text], 
.wc-block-components-form .wc-block-components-text-input input[type=url], 
.wc-block-components-text-input input[type=email], 
.wc-block-components-text-input input[type=number], 
.wc-block-components-text-input input[type=tel], 
.wc-block-components-text-input input[type=text], 
.wc-block-components-text-input input[type=url] {
    border: none !important;
    border-bottom: 1px solid var(--light-color) !important;
    outline: none !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}


.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content {
    width: 100%;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    padding: 0 0 0 1em;
    margin: 0 0 1.6em;
    overflow: hidden;
    position: relative;
}

.woocommerce-account .woocommerce-MyAccount-navigation::before {
    position: absolute;
    content: " ";
    display: table;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid var(--light-color);
    z-index: 1;
}

.woocommerce-account .woocommerce-MyAccount-navigation::after {
    content: " ";
    display: table;
    clear: both;
}

.woocommerce-account .woocommerce-MyAccount-navigation-link {
    border: 1px solid var(--light-color);
    color: var(--dark-color);
    display: inline-block;
    position: relative;
    z-index: 0;
    margin: 0 -5px;
    padding: 0 2em;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    background-color: var(--light-color);
}

.woocommerce-account .woocommerce-MyAccount-navigation-link.is-active {
    background: #fff;
    color: var(--dark-color);
    z-index: 2;
    border-bottom-color: #fff;
}

.woocommerce-account .woocommerce-MyAccount-navigation-link a {
    display: inline-block;
    padding: 0.5em 0;
    font-weight: 700;
    color: #515151;
    text-decoration: none;
}

.woocommerce-account .woocommerce-MyAccount-navigation-link a:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.woocommerce .woocommerce-checkout .col2-set .col-1,
.woocommerce .woocommerce-checkout .col2-set .col-2 {
    width: 100% !important;
}

.woocommerce .woocommerce-checkout .col2-set .col-1 {
    margin-bottom: 30px;
}

.woocommerce-shipping-fields__field-wrapper,
.woocommerce-billing-fields__field-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.woocommerce form .form-row {
    flex-basis: 50%;
}

.woocommerce form .form-row select {
    height: 44px;
}

.woocommerce-checkout .woocommerce-billing-fields > h3,
h3#order_review_heading {
    display: none;
}

.woocommerce table.shop_table .material-icons {
    position: absolute;
    top: 10px;
    cursor: pointer;
}

.woocommerce table.shop_table .material-icons:nth-of-type(1) {
    left: 3px;
}

.woocommerce table.shop_table .material-icons:nth-of-type(2) {
    left: 73px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* Responsive */

@media (max-width: 768px){

    .site-header-cart  {
        display: none;
    }

    .main-navigation {
        display: none
    }

    .mobile-menu-wrapper {
        display: block;
        transform: translate(-100%, 0);
        -webkit-transform: translate(-100%, 0);
        -moz-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
        -o-transform: translate(-100%, 0);
        visibility: visible;
        z-index: 100000;
        position: fixed;
        left: 0;
        bottom: 0;
        right: auto;
        background: #fff;
        max-width: 100%;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        transition: transform .3s;
        -webkit-transition: transform .3s;
        -moz-transition: transform .3s;
        -ms-transition: transform .3s;
        -o-transition: transform .3s;
    }

    body.admin-bar .mobile-menu-wrapper {
        top: 46px;
    } 

    .mobile-menu-wrapper .menu-header-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: left;
        align-items: center;
        position: relative;
        top: 0;
        right: 0;
        padding: 33.5px 21.5px;
        z-index: 3;
        border-bottom: 1px solid var(--light-color);
    }
    .mobile-menu-wrapper .menu-header-wrapper h3 {
        margin: 0;
    }

    .mobile-menu-container {
        padding: 10px 25px;
        display: block;
    }

    .mobile-menu-container .menu-wrapper li:not(:last-child) {
        padding: 5px 0px;
    }

    .mobile-menu-container .menu-wrapper li.menu-item-has-children {
        position: relative;
        width: 100%;
    }

    .mobile-menu-container .menu-wrapper li.menu-item-has-children .material-icons {
        position: absolute;
        top: 5px;
        right: 0;
    }

    .mobile-menu-container .menu-wrapper li.menu-item-has-children .material-icons.rotate-span {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

    .mobile-menu-container .menu-wrapper li a {
        display: flex;
        justify-content: space-between;
    }
    body.mobile-menu-open .site-content:after {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: var(--transparent-black);
        content: "";
        transition: opacity .5s,width .1s .5s,height .1s .5s;
        z-index: 9;
    }
    .content-area {
        display: block;
    }

    .single .site-main {
        padding-left: 15px;
    }

    article .entry-meta li {
        display: block;
        border: none;
    }
    .entry-navigation-post img {
        display: none;
    }

    .comment-form {
        display: block;
    }

    .comment-form > p:not(p:last-child) {
        width: 100%;
    }

    .comments-area {
        padding-left: 0;
    }

    ol.children {
        padding-left: 0 !important;
        margin-left: 0;
    }

    .site-footer {
        display: block;
    }

    .site-footer > *:not(.footer-navigation.social-icons) {
        display: block;
        width: 100% !important;
        text-align: center;
        padding: 0 15px;
    }

    .copyright p {
        margin-bottom: 0;
        padding-bottom: 1.5em;
    }

    .back-to-top  {
        bottom: 70px;
    }

    .footer-mobile {
        display: block;
        position: sticky;
        z-index: 999;
        background: #fff;
        padding: 10px 30px;
        bottom: 0;
        left: 0;
        width: 100%;
        -webkit-box-shadow: 0 0 5px 0 var(--transparent-black);
        box-shadow: 0 0 5px 0 var(--transparent-black);
    }

    .footer-mobile ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
    }
    
    .footer-mobile ul li {
        display: inline-block;
        width: 25%;
        text-align: center;
        position: relative;
    }
   
    .footer-mobile ul li a {
        text-align: center;
    }

    .footer-mobile .cart-items-number {
        top: -9px;
        right: 25px;
    }
}